{{ $url := .Destination }}
{{ $imageResource := try (resources.GetRemote $url) }}

{{ with $imageResource.Err }}
  {{ errorf "Failed to download image %s" . }}
{{ else }}
  {{ $image := $imageResource.Value }}
  {{ $originalFilename := $image.Name }}
  {{ $fileExtension := (path.Ext $originalFilename) }}
  {{ $trimmedFilename := (replaceRE "_[^_]+$" "" (replace $originalFilename $fileExtension "")) }}
  {{ $newFilename := printf "%s%s" $trimmedFilename $fileExtension }}
  {{ $newImage := $image | resources.Copy $newFilename }}
  <img src="{{ $newImage.RelPermalink }}" width="{{ $newImage.Width }}" height="{{ $newImage.Height }}" {{- with $.Text }} alt="{{ . }}"{{ end -}} {{- with $.Title }} title="{{ . }}"{{ end -}} style="width: auto;height: auto;">
{{ end }}